<header>
  <p>
      <mat-toolbar color="default">
     
        <mat-toolbar-row>
          <button mat-button routerLink="/"> Home </button>
          <button mat-button routerLink="/blog">Blog  </button>
          <button mat-button routerLink="/contact">Contact</button>
          <button mat-button routerLink="/error">Error</button>

          <span class="example-spacer"></span>
          <button
            mat-icon-button
            class="text"
            aria-label="Example icon-button with menu icon"
          >
            <mat-icon color="primary">phone</mat-icon>
          </button>
          <span class="sizer">+1 553 247 7044 </span>

          <button
            mat-icon-button
            class="example-icon"
            aria-label="Example icon-button with menu icon"
          >
            <mat-icon color="primary">mail</mat-icon>
          </button>
          <span class="sizer"> <a href="#">alexender&#64;gmail.com </a> </span>
        </mat-toolbar-row>

    </mat-toolbar>

    <mat-divider></mat-divider>

    <!-- ROW TWO OF THE HEARDER -->
    <mat-toolbar color="default">

        <mat-toolbar-row>
          <img src="../../../../assets/logo.svg" alt="logo" />

          <span class="example-spacer"></span>

          <span class="space">
            <button mat-button color="primary" routerLink="/"> Home </button>
            <button mat-button color="primary" routerLink="/blog">Blog  </button>
            <button mat-button color="primary" routerLink="/contact">Contact</button>
            <button mat-button color="primary" routerLink="/error">Error</button>
          </span>

          <span class="example-spacer"></span>

          <button
            mat-raised-button
            class="text"
            aria-label="Example icon-button with share icon"
            color="primary"
          >
            Book Appointment
          </button>
        </mat-toolbar-row>
   
    </mat-toolbar>
  </p>
</header>
