<div class="main-content" fxLayout="column" fxLayoutAlign="center center">
  <div class="mat-headline-4">404</div>

  <div class="mat-subheading-2">Oop's sorry we can't find that page!</div>

  <div class="mat-body-1">
    Aenean eget sollicitudin lorem, et pretium felis. Nullam euismod diam
    libero, sed dapibus leo laoreet ut. Suspendisse potenti. Phasellus urna
    lacus
  </div>

  <form class="example-form">
    <mat-form-field class="example-full-width" color="primary">
      <mat-label>search</mat-label>
      <input type="search" matInput />
      <mat-icon matSuffix color="primary">search</mat-icon>
    </mat-form-field>
  </form>
</div>
