<footer
  fxLayout="column"
>
  <!-- Première partie du footer -->
  <div fxLayout="row" fxLayoutAlign="start center" style="background-color: #3b4caa;; height: 80%; padding:0 50px 0 50px">
    <div fxFlex="25%" style="padding-right: 30px">
      <!-- Contenu de la première colonne -->
      <div class="mat-headline-4">About Us</div>
      <div class="mat-body-1">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum recusandae
        a culpa voluptas tenetur.Lorem ipsum dolor sit amet consectetur
        adipisicing elit.
      </div>
      <div class="example-flex-container">
        <button
          mat-icon-button
          aria-label="Example icon button with a home icon"
        >
          <mat-icon>facebook</mat-icon>
        </button>
        <button
          mat-icon-button
          aria-label="Example icon button with a home icon"
        >
          <mat-icon>mail</mat-icon>
        </button>
        <button
          mat-icon-button
          aria-label="Example icon button with a home icon"
        >
          <mat-icon>language</mat-icon>
        </button>
        <button
          mat-icon-button
          aria-label="Example icon button with a home icon"
        >
          <mat-icon>send</mat-icon>
        </button>
        <button
          mat-icon-button
          aria-label="Example icon button with a home icon"
        >
          <mat-icon>phone_in_talk</mat-icon>
        </button>
      </div>
    </div>
    <div fxFlex="25%" style="padding-right: 30px">
      <!-- Contenu de la deuxième colonne -->
      <div class="mat-headline-4">Quick Links</div>
      <div class="empty"></div>
      <div
        fxLayout="row"
        fxLayoutAlign="start center"
        style="margin-bottom: 10px"
      >
        <div fxFlex="50%" style="padding-right: 5px;">
          <!-- Première colonne -->
          <!-- Liste des éléments pour la première colonne -->
          <ul class="column-list no-bullets">
            <li>
              <a href="#"> &#9205;Home</a>
            </li>
            <li>
              <a href="#"> &#9205;Medias</a>
            </li>
            <li>
              <a href="#"> &#9205;Blog</a>
            </li>
            <li>
              <a href="#"> &#9205;Contact Us</a>
            </li>
            <li>
              <a href="#"> &#9205;Error</a>
            </li>
          </ul>
        </div>
        <div fxFlex="50%">
          <!-- Deuxième colonne -->
          <!-- Liste des éléments pour la deuxième colonne -->
          <ul class="column-list no-bullets">
            <li>
              <a href="#"> &#9205;Our Services</a>
            </li>
            <li>
              <a href="#"> &#9205;Location</a>
            </li>
            <li>
              <a href="#"> &#9205;Facilities </a>
            </li>
            <li>
              <a href="#"> &#9205;Our Team</a>
            </li>
            <li>
              <a href="#"> &#9205;Bookings</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div fxFlex="25%" style="padding-right: 30px">
      <!-- Contenu de la troisième colonne -->
      <div class="mat-headline-4">Open Hours</div>
      <div class="mat-body-1">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum recusandae
        a culpa voluptas tenetur.
      </div>
      <div>
        <div fxFlex="50%" style="padding-right: 20px">
          <!-- Première colonne -->
          <!-- Liste des éléments pour la première colonne -->
          <ul class="column-list no-bullets">
            <li>Monday - Friday</li>
            <li>Saturday</li>
            <li>Monday - Thursday</li>
          </ul>
        </div>
        <div fxFlex="50%">
          <!-- Deuxième colonne -->
          <!-- Liste des éléments pour la deuxième colonne -->
          <ul class="column-list no-bullets">
            <li>8.00-20.00</li>
            <li>9.00-18-30</li>
            <li>9.00-15.00</li>
          </ul>
        </div>
      </div>
    </div>
    <div fxFlex="25%">
      <!-- Contenu de la quatrième colonne -->
      <div class="mat-headline-4">Newsletter</div>
      <div class="mat-body-1">
        subscribe to our newsletter to get allour news in your inbox.. Lorem
        ipsum dolor sit amet, consectetur adipisicing elit.
      </div>
      <div class="searchBar">
        <form class="example-form" fxFlex="50%">
          <mat-form-field class="example-full-width">
            <mat-label style="font-family:'poppins'">Email Address</mat-label>
            <input type="tel" matInput placeholder="mary@gmail.com" />
            <mat-icon matSuffix color="primary">send</mat-icon>
          </mat-form-field>
        </form>
      </div>
    </div>
  </div>
  <mat-divider></mat-divider>
  <!-- Deuxième partie du footer -->
  <div fxLayoutAlign="center center" style=" width: 100%; height: 20%; background-color:#3f51b5;">
    Copyright 2024 &#169; Al Home corporation
  </div>
</footer>
