<div class="full-content">

  <div class="top-content">
    <h2>Blog Single</h2>
    <p>
      <a href="#" class="home-link">Home</a>&#9205; <span>Blog Single</span>
    </p>
  </div>


  <div class="middle-content" fxLayoutGap="10">

    <div fxFlex="70" class="left-column" fxLayoutGap="10" fxFlexAlign="column">
      <div class="left-start" fxLayout="column">
        <div class="example-card" fxLayout="column">
          <img
            style="padding: 15px"
            src="https://img.freepik.com/free-photo/medical-team-doctor-s-office_23-2148168404.jpg?w=1380"
            alt="Photo of doctors together"
          />
          <h2 class="card-title">
            More than 80 clinical trials launch to test of the coronavirus .
          </h2>
        </div>
        <mat-divider></mat-divider>
        <div
          class="line"
          fxLayoutGap="30"
          style="padding-top: 8px; padding-bottom: 8px"
          fxLayout="row"
          fxLayoutAlign="space-between center"
        >
          <div fxFlex="50" class="line-left" >
            <div fxFlex="100" fxLayout="row" fxLayoutAlign="start center">
              <div mat-card-avatar class="example-header-image"></div>

              <button mat-button disabled>Alex James</button>

              <button mat-button disabled>
                <mat-icon class="mat-18" color="primary">access_time</mat-icon
                >03 Feb 2019
              </button>
            </div>
          </div>
          <div
            fxFlex="40"
            class="line-right"
            fxLayoutGap="2"
            fxLayoutAlign="end center"
          >
            <div fxFlex="100">
              <button mat-button disabled>
                <mat-icon class="mat-18" color="primary">comment</mat-icon> 05
                Comments
              </button>

              <button mat-button disabled>
                <mat-icon class="mat-18" color="primary">visibility</mat-icon>
                33k Views
              </button>
            </div>
          </div>
        </div>
        <mat-divider></mat-divider>
        <div fxLayout="row">
          <div class="mat-body-1" style="padding: 12px; color: #757575">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            facilisis ultricies tortor, nec sollicitudin lorem sagittis vitae.
            Curabitur rhoncus commodo rutrum. Pellentesque habitant morbi
            tristique senectus et netus et malesuada fames ac turpis egestas.
            Aliquam nec lacus pulvinar, laoreet dolor quis, pellentesque ante.
            Cras nulla orci, pharetra at dictum consequat, pretium pretium
            nulla. Suspendisse porttitor nunc a sodales tempor. Mauris sed felis
            maximus, interdum metus vel, tincidunt diam.
          </div>
        </div>

        <div fxLayout="row">
          <div class="mat-body-1" style="padding: 12px; color: #757575">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            facilisis ultricies tortor, nec sollicitudin lorem sagittis vitae.
            Curabitur rhoncus commodo rutrum. Pellentesque habitant morbi
            tristique senectus et netus et malesuada fames ac turpis egestas.
            Aliquam nec lacus pulvinar, laoreet dolor quis, pellentesque ante.
            Cras nulla orci, pharetra at dictum consequat, pretium pretium
            nulla. Suspendisse porttitor nunc a sodales tempor. Mauris sed felis
            maximus, interdum metus vel, tincidunt diam.
          </div>
        </div>

        <div
          fxLayout="row"
          fxLayout.xs="column"
          fxLayoutAlign="start center"
          fxLayoutGap="10px"
        >
          <div class="img-container" fxFlex="50%">
            <img
              class="slight-img"
              src="https://img.freepik.com/premium-photo/developing-intellectual-curiosity-wise-aged-qualified-doctor-working-conducting-lecture-college-while-consulting-apprentices-using-gadget_259150-15779.jpg?w=1380"
              alt="Image 1"
            />
          </div>
          <div class="img-container" fxFlex="50%">
            <img
              class="slight-img"
              src="https://img.freepik.com/free-photo/two-healthcare-workers-analyzing-medical-records-touchpad-while-working-clinic_637285-5219.jpg?w=1380"
              alt="Image 2"
            />
          </div>
        </div>

        <div fxLayout="row">
          <div class="mat-body-1" style="padding: 12px; color: #757575">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            facilisis ultricies tortor, nec sollicitudin lorem sagittis vitae.
            Curabitur rhoncus commodo rutrum. Pellentesque habitant morbi
            tristique senectus et netus et malesuada fames ac turpis egestas.
            Aliquam nec lacus pulvinar, laoreet dolor quis, pellentesque ante.
            Cras nulla orci, pharetra at dictum consequat, pretium pretium
            nulla. Suspendisse porttitor nunc a sodales tempor. Mauris sed felis
            maximus, interdum metus vel, tincidunt diam.
          </div>
        </div>

        <div class="row-image" fxLayout="row">
          <div class="mat-body-1" style="padding: 20px; color: #ffffff">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            facilisis ultricies tortor, nec sollicitudin lorem sagittis vitae.
            Curabitur rhoncus commodo rutrum. Pellentesque habitant morbi
            tristique senectus et netus et malesuada fames ac turpis egestas.
            Aliquam nec lacus pulvinar, laoreet dolor quis, pellentesque ante.
            Cras nulla orci, pharetra at dictum consequat, pretium pretium
            nulla. Suspendisse porttitor nunc a sodales tempor. Mauris sed felis
            maximus, interdum metus vel, tincidunt diam.
          </div>
        </div>

        <div fxLayout="row">
          <div class="mat-body-1" style="padding: 12px; color: #757575">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            facilisis ultricies tortor, nec sollicitudin lorem sagittis vitae.
            Curabitur rhoncus commodo rutrum. Pellentesque habitant morbi
            tristique senectus et netus et malesuada fames ac turpis egestas.
            Aliquam nec lacus pulvinar, laoreet dolor quis, pellentesque ante.
            Cras nulla orci, pharetra at dictum consequat, pretium pretium
            nulla. Suspendisse porttitor nunc a sodales tempor. Mauris sed felis
            maximus, interdum metus vel, tincidunt diam. Nam ac risus vitae sem
            vehicula egestas. Sed velit nulla, viverra non commodo et, sodales
            id dui.
          </div>
        </div>

        <div fxLayout="row">
          <div class="mat-body-1" style="padding: 12px; color: #757575">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            facilisis ultricies tortor, nec sollicitudin lorem sagittis vitae.
            Curabitur rhoncus commodo rutrum. Pellentesque habitant morbi
            tristique senectus et netus et malesuada fames ac turpis egestas.
            Aliquam nec lacus pulvinar, laoreet dolor quis, pellentesque ante.
            Cras nulla orci, pharetra at dictum consequat, pretium pretium
            nulla. Suspendisse
          </div>
        </div>

        <div fxLayout="row">
          <div class="row-left" fxFlex="70">
            <!-- <button
              mat-flat-button
              class="mat-flat-button-style"
              style="background-color: #5d82d1; color: white"
            >
              <mat-icon class="icon-style">facebook</mat-icon>
              facebook
            </button>
            <button
              mat-flat-button
              class="mat-flat-button-style"
              style="background-color: #40bff5; color: white"
            >
           
              Twitter
            </button>
            <button
              mat-flat-button
              class="mat-flat-button-style"
              style="background-color: #eb5e4c; color: white"
            >
              <mat-icon class="icon-style">home</mat-icon>
            </button>
            <button
              mat-flat-button
              class="mat-flat-button-style"
              style="background-color: #238cc8; color: white"
            >
              <mat-icon class="icon-style">home</mat-icon>
            </button>
            <button
              mat-flat-button
              class="mat-flat-button-style"
              style="background-color: #e13138; color: white"
            >
              <mat-icon class="icon-style">home</mat-icon>
            </button> -->
          </div>
          <div
            class="row-right"
            fxFlex="20"
            fxLayoutGap="8"
            fxLayoutAlign="end end"
          >
            <button mat-icon-button>
              <mat-icon color="primary" style="font-size:20px; font-weight:bold;">keyboard_arrow_left</mat-icon>
            </button>
            <button mat-icon-button>
              <mat-icon color="primary" style="font-size:20px; font-weight:bold;">keyboard_arrow_right</mat-icon>
            </button>
          </div>
        </div>
      </div>

      <div class="left-comment" fxLayout="column">
        <div fxLayout="row">
          <h3>All Comments</h3>
        </div>
        <div fxLayout="column">
          <div fxLayout="row" fxLayoutGap="10" style="padding: 12px">
            <div class="photo-side" fxFlex="20" fxLayoutAlign="center start">
              <div mat-card-avatar class="example-header-image img-1"></div>
            </div>
            <div class="content-side" fxFlex="70">
              <h4>Afsana Mimi</h4>
              <button mat-button disabled>
                <mat-icon>calendar_today</mat-icon> April 09, 2022
              </button>
              <button mat-button disabled>
                <mat-icon>schedule</mat-icon> 09:16 PM
              </button>
              <p style="color: #757575">
                Lorem Ipsum available, but the majority have suffered alteration
                in some form, by injected humour, or randomised words Mirum est
                notare quam littera gothica, quam nunc putamus parum claram,
                anteposuerit litterarum formas
              </p>
              <button mat-raised-button color="primary">
                <mat-icon>reply</mat-icon> Replay
              </button>
            </div>

            <mat-divider></mat-divider>
          </div>
          <mat-divider></mat-divider>
          <div fxLayout="row" fxLayoutGap="10" style="padding: 12px">
            <div class="photo-side" fxFlex="20" fxLayoutAlign="center start">
              <div mat-card-avatar class="example-header-image img-2"></div>
            </div>
            <div class="content-side" fxFlex="70">
              <h4>Naimur Rahman</h4>
              <button mat-button disabled>
                <mat-icon>calendar_today</mat-icon> April 09, 2022
              </button>
              <button mat-button disabled>
                <mat-icon>schedule</mat-icon> 07:30 AM
              </button>
              <p style="color: #757575">
                Lorem Ipsum available, but the majority have suffered alteration
                in some form, by injected humour, or randomised words Mirum est
                notare quam littera gothica, quam nunc putamus parum claram,
                anteposuerit litterarum formas
              </p>
              <button mat-raised-button color="primary">
                <mat-icon>reply</mat-icon> Replay
              </button>
            </div>

            <mat-divider></mat-divider>
          </div>
          <mat-divider></mat-divider>
          <div fxLayout="row" fxLayoutGap="10" style="padding: 20px">
            <div class="photo-side" fxFlex="20" fxLayoutAlign="center start">
              <div mat-card-avatar class="example-header-image img-3"></div>
            </div>
            <div class="content-side" fxFlex="70">
              <h4>Suriya Molharta</h4>
              <button mat-button disabled>
                <mat-icon>calendar_today</mat-icon>March 05,2021
              </button>
              <button mat-button disabled>
                <mat-icon>schedule</mat-icon> 03:38 AM
              </button>
              <p style="color: #757575">
                Lorem Ipsum available, but the majority have suffered alteration
                in some form, by injected humour, or randomised words Mirum est
                notare quam littera gothica, quam nunc putamus parum claram,
                anteposuerit litterarum formas
              </p>
              <button mat-raised-button color="primary">
                <mat-icon>reply</mat-icon> Replay
              </button>
            </div>

            <mat-divider></mat-divider>
          </div>
        </div>
      </div>

      <div class="left-bottom" fxLayout="column">
        <div fxLayout="row">
          <h3>Leave Comments</h3>
        </div>
        <div fxLayout="row">
          <form fxLayout="column" fxLayoutGap="20px" color="primary">
            <!-- Première ligne -->
            <div fxLayout="row" fxLayoutGap="20px">
              <mat-form-field>
                <mat-label>First Name</mat-label>
                <input #FirstName matInput />
              </mat-form-field>
              <mat-form-field>
                <mat-label>Last Name</mat-label>
                <input matInput #LastName />
              </mat-form-field>
              <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput #Email />
              </mat-form-field>
            </div>

            <!-- Deuxième ligne -->

            <mat-form-field>
              <mat-label>Type Your Message Here</mat-label>
              <textarea matInput #Message rows="5"></textarea>
            </mat-form-field>

            <!-- Quatrième ligne -->
            <div fxLayout="row">
              <button
                mat-raised-button
                color="primary"
                type="button"
                FxFlex="40"
              >
                <mat-icon> near_me</mat-icon> Submit Comment
              </button>
              <div FxFlex="40"></div>
            </div>
          </form>
        </div>
      </div>
      <div></div>
    </div>



    <div fxFlex="30" fxLayout="column" class="right-column">
      <!-- First Row content -->
      <div fxLayout="row" fxLayoutAlign="center center" class="search-box" >
        <mat-form-field>
          <input matInput placeholder="search Here...">
          <button mat-button matSuffix>
            <mat-icon class="search-icon">search</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <!-- Second Row content -->
      <div div fxLayout="column" fxLayoutAlign="start start"  class="blog-links">
       
         <h3 class="right-h3">Blog Categories</h3>
      
          <ul>
            <li>Men's Apparel</li>
            <li>Women's Apparel</li>
            <li>Bags Collection</li>
            <li>Accessories</li>
            <li>Sun Glasses</li>
          </ul>
      </div>
      <!-- Thrid Row Content -->
      <div fxLayout="column" fxLayoutAlign="start start"  class="post-links" fxLayoutGap="10">
       
        <h3 class="right-h3">Recent Posts</h3>
     
         <div  fxLayout="row" fxLayoutAlign="space-around center">
          <div fxFlex="30">
            <img src="https://img.freepik.com/free-photo/serious-doctor-with-white-coat_1098-2317.jpg?w=1380" alt="" class="post-img">
          </div>
          <div fxFlex="60">
            <h5>We have announced our new product</h5>
           <div fxLayout="row">
           <div fxLayout="row">
            <button mat-button disabled><mat-icon>calendar_today</mat-icon>
              Jan 11, 2024</button> 
           </div>
           </div>
          </div>
         </div>
         <mat-divider></mat-divider>

         <div fxLayout="row" fxLayoutAlign="space-around center">
          <div fxFlex="30">
            <img src="https://img.freepik.com/free-photo/medium-shot-patient-looking-radiography_23-2148816215.jpg?w=996" alt="" class="post-img">
          </div>
          <div fxFlex="60">
            <h5>Top five ways for solving teeth problem</h5>
           <div fxLayout="row">
           <div fxLayout="row">
            <button mat-button disabled><mat-icon>calendar_today</mat-icon>
              Mar 05, 2024</button> 
           </div>
           </div>
          </div>
         </div>
         <mat-divider></mat-divider>

         <div  fxLayout="row" fxLayoutAlign="space-around center">
          <div fxFlex="30">
            <img src="https://img.freepik.com/premium-photo/medical-team-meeting-around-table-modern-hospital_662214-395498.jpg?w=1380" alt="" class="post-img">
          </div>
          <div fxFlex="60">
            <h5>We provide highly business solutions.</h5>
           <div fxLayout="row">
           <div fxLayout="row">
            <button mat-button disabled><mat-icon>calendar_today</mat-icon>
              Apr 06, 2024</button> 
           </div>
           </div>
          </div>
         </div>

     </div>

     <div fxLayout="column" class="tags" fxLayoutGap="10">
      <h3 class="right-h3">Tags</h3>
      <div fxLayout="column" fxLayoutGap="10">
      <div fxLayout="row" fxLayoutGap="10">
        <button mat-button class="tags-btn">Angular</button>
        <button mat-button class="tags-btn">React JS</button>
        <button mat-button class="tags-btn">Vue JS</button>
      </div>
      <div fxLayout="row" fxLayoutGap="10">
        <button mat-button class="tags-btn">Multipurpose</button>
        <button mat-button class="tags-btn">Education</button>
      </div>
      <div fxLayout="row" fxLayoutGap="10">
        <button mat-button class="tags-btn">Template</button>
        <button mat-button class="tags-btn">E-commerce</button>
      </div>
     </div>
    </div>

      </div>



    </div>

    
  </div>


