<div class="full-content">
  <div class="top-part">
    <div fxLayout="row" class="top-banner" fxLayoutAlign="space-between center">
      <div fxLayout="row">
        <div
          fxLayout="column"
          fxLayoutAlign="end center"
          fxFlex="80"
          style="padding-left: 60px"
        >
          <h2>
            We Provide <span style="color: #3f51b5">Medical</span> Services That
            You can <span style="color: #3f51b5">Trust!</span>
          </h2>
          <div fxLayout="row" style="line-height: 24px">
            <p style="color:#333;">
              "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris
              sed nisl pellentesque, faucibus libero eu, gravida quam. "
            </p>
          </div>
          <div fxLayout="row" fxLayoutGap="10" fxLayoutAlign="start center">
            <button mat-flat-button color="primary" class="appointment-btn">
              Get Appointment
            </button>
            <button mat-flat-button class="contact-btn">Contact Now</button>
          </div>
        </div>
        <div fxLayout="column" fxFlex="20" class="pointers"></div>
      </div>
      <button
        mat-icon-button
        class="pointer-left"
        style="background-color: #3f51b5"
      >
        <mat-icon style="color: white">keyboard_arrow_left</mat-icon>
      </button>
      <button
        mat-icon-button
        class="pointer-right"
        style="background-color: #3f51b5"
      >
        <mat-icon style="color: white">keyboard_arrow_right</mat-icon>
      </button>
    </div>
  </div>
</div>
<div fxLayout="row" class="card-box" fxLayoutGap="20">
  <div fxLayout="column">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-subtitle style="color: white"
          >Lorem Amet</mat-card-subtitle
        >
        <mat-card-title>Emergency Cases</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p style="color:white; font-size:14px;padding-top:0;margin:0;">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris
          sed nisl pellentesque, faucibus libero eu, gravida quam.
        </p>
        <button mat-button style="color: white">
          Learn More <mat-icon>trending_flat</mat-icon>
        </button>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxLayout="column">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-subtitle style="color: white"
          >Fusce Porttitor</mat-card-subtitle
        >
        <mat-card-title>Doctors Timetable</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p style="color:white; font-size:14px;padding-top:0;margin:0;">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris
          sed nisl pellentesque, faucibus libero eu, gravida quam.
        </p>
        <button mat-button style="color: white">
          Learn More <mat-icon>trending_flat</mat-icon>
        </button>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex="column">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-subtitle style="color: white"
          >Donec Luctus</mat-card-subtitle
        >
        <mat-card-title>Opening Hours</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div fxFlex="column">
            <div fxFlex="row">
              <ul>
                <li>Monday - Friday</li>
                <li>Saturday</li>
                <li>Thursday</li>
              </ul>
            </div>
            <div fxFlex="row">
              <ul>
                <li>8.00-20.00</li>
                <li>9.00-18.30</li>
                <li>9.00-15.00</li>
              </ul>
            </div>
        </div>
      </mat-card-content>
      <div style="padding:10px;">
        <button mat-button style="color: white">
          Learn More <mat-icon>trending_flat</mat-icon>
        </button>
      </div>

    </mat-card>
  </div>
</div>

<div class="middle-content">
  <div fxLayout="column" fxLayoutAlign="space-around center">
    
      <h2 style="text-align: center">
        We Are Always Ready To Help You & Your Family
      </h2>
    
    <div fxLayout="row">
      <button mat-icon-button style="color:#3f51b5;"><mat-icon style="font-size:26px;">graphic_eq</mat-icon></button>
      <button mat-icon-button style="color:#3f51b5;"><mat-icon style="font-size:26px;">graphic_eq</mat-icon></button>
      <button mat-icon-button style="color:#3f51b5;"><mat-icon style="font-size:26px;">graphic_eq</mat-icon></button>
    </div>

    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit praesent aliquet. pretiumts
    </p>
    <div fxLayout="row" fxLayoutGap="40">
     <div fxLayout="column" fxLayoutAlign="space-around center">
      <button mat-icon-button class="icon-style-reverse"><mat-icon style="font-size:26px;">healing</mat-icon></button>
      <h3>Emergency Help</h3>
      <p style="text-align:center;">Lorem ipsum sit, consectetur adipiscing elit. Maecenas mi quam vulputate.</p>
     </div>
     
     <div fxLayout="column" fxLayoutAlign="space-around center">
      <button mat-icon-button class="icon-style-reverse"><mat-icon style="font-size:26px;">scanner</mat-icon></button>
      <h3>Enrich Pharmacy</h3>
      <p style="text-align:center;">Lorem ipsum sit, consectetur adipiscing elit. Maecenas mi quam vulputate.</p>
     </div>

     <div fxLayout="column" fxLayoutAlign="space-around center">
      <button mat-icon-button class="icon-style-reverse"><mat-icon style="font-size:26px;">insert_emoticon</mat-icon></button>
      <h3>Medical Treatment</h3>
      <p style="text-align:center;">Lorem ipsum sit, consectetur adipiscing elit. Maecenas mi quam vulputate.</p>
     </div>
    </div>

  </div>

  <div class="top-content" fxLayout="row" fxLayoutAlign="space-around center">
    <div fxLayout="row" fxLayoutGap="20">
      <div>
      <button mat-icon-button class="icon-style"><mat-icon style="font-size:26px;">home</mat-icon></button>
      </div>
      <div>
        <h4>{{value1.current}}</h4>
        <h5>Hospital Rooms</h5>
      </div>
    </div>

    <div fxLayout="row" fxLayoutGap="20">
      <div>
      <button mat-icon-button class="icon-style"><mat-icon style="font-size:26px;">account_circle</mat-icon></button>
      </div>
      <div>
        <h4>{{value2.current}}</h4>
        <h5>Specialist Doctors</h5>
      </div>
    </div>

    <div fxLayout="row" fxLayoutGap="20">
      <div>
      <button mat-icon-button class="icon-style"><mat-icon style="font-size:26px;">insert_emoticon</mat-icon></button>
      </div>
      <div>
        <h4>{{value3.current}}</h4>
        <h5>Happy Patients</h5>
      </div>
    </div>

    <div fxLayout="row" fxLayoutGap="20">
      <div>
      <button mat-icon-button class="icon-style"><mat-icon style="font-size:26px;">calendar_today</mat-icon></button>
      </div>
      <div>
        <h4>{{value4.current}}</h4>
        <h5>Years of Experience</h5>
      </div>
    </div>
  </div>

  <div class="next-content">
    <h2 style="text-align: center">
      We Offer Different Services To Improve Your Health
    </h2>
    <div fxLayout="row" fxLayoutAlign="center center">
      <button mat-icon-button style="color:#3f51b5;"><mat-icon style="font-size:26px;">graphic_eq</mat-icon></button>
      <button mat-icon-button style="color:#3f51b5;"><mat-icon style="font-size:26px;">graphic_eq</mat-icon></button>
      <button mat-icon-button style="color:#3f51b5;"><mat-icon style="font-size:26px;">graphic_eq</mat-icon></button>
    </div>
    <p style="text-align: center;">Lorem ipsum dolor sit amet consectetur adipiscing elit praesent aliquet. pretiumts
    </p>
  </div>

  <div class="lower-content" fxLayout="column" fxLayoutGap="40" fxLayoutAlign="center center">
  <h3 style="color:white; font-size: 32px;">Do You Need Emergency Medical Care? Call +1 323 555 4325</h3>
    <p style="color:white;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque porttitor dictum turpis nec gravida.</p>
    <div fxLayout="row" fxLayoutGap="15" fxLayoutAlign="start center">
      <button mat-flat-button color="primary" class="btn-contact">
        Contact Now
      </button>
      <button mat-flat-button class="btn-learn">Learn More <mat-icon class="mat-18">trending_flat</mat-icon></button>
    </div>
  </div>

  <div class="next-lower-content">
    <h2  style="text-align: center">We Provide You The Best Treatment In reasonable Price</h2>
    <div fxLayout="row" fxLayoutAlign="center center">
      <button mat-icon-button style="color:#3f51b5;"><mat-icon style="font-size:26px;">graphic_eq</mat-icon></button>
      <button mat-icon-button style="color:#3f51b5;"><mat-icon style="font-size:26px;">graphic_eq</mat-icon></button>
      <button mat-icon-button style="color:#3f51b5;"><mat-icon style="font-size:26px;">graphic_eq</mat-icon></button>
    </div>
    <p style="text-align: center; margin-bottom: 35px;">Lorem ipsum dolor sit amet consectetur adipiscing elit praesent aliquet. pretiumts</p>

    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="40">

      <div fxLayout="column" >
        <mat-card class="example-card-style" style="padding: 20px;">
          <div fxLayout="row"  style="height:70px">
            <mat-icon style="font-size:65px; background-color:transparent;overflow:visible;padding-left:90px; color:#3f51b5;">group</mat-icon>
          </div>
          <mat-card-header>
            <mat-card-subtitle class="card-subtitle"
              >Plastic Suggery</mat-card-subtitle
            >
            <mat-card-title class="card-title">$199 <span style="    font-size: 14px;
              font-weight: 400;
              color: #868686;">/ Per Visit</span> </mat-card-title>
          </mat-card-header>
          
            <div fxFlexLayout="row" fxLayoutGap="70" style="width: auto;">
                <div fxFlex="column" fxFlex="60">
                  <P style="padding-bottom: 6px;color:#2C2D3F;">Lorem Ipsum Dolor</P>
                  <P style="padding-bottom: 8px;color:#2C2D3F;">Cubitur Sollicitudin</P>
                  <P style="padding-bottom: 8px;color:#2C2D3F;">Nullam Interdum </P>
                  <P style="padding-bottom: 8px;color:#2C2D3F;">Donec Ultricies </P>
                  <P style="padding-bottom: 8px;color:#2C2D3F;">Pellentesque Eget</P>
                </div>
                <div fxFlex="column" fxFlex="10">
                 <p><mat-icon color="primary">check_circle</mat-icon></p>
                 <p><mat-icon color="primary">check_circle</mat-icon></p>
                 <p><mat-icon>highlight_off</mat-icon></p>
                 <p><mat-icon>highlight_off</mat-icon></p>
                 <p><mat-icon>highlight_off</mat-icon></p>
                </div>
            </div>
          <div style="padding:10px; padding-left: 30px;" fxFlexLayout="row">
            <button mat-raised-button color="primary" style="color: white;padding:25px; padding-left: 50px;padding-right: 50px;">
             Book Now
            </button>
          </div>
    
        </mat-card>
      </div>


      <div fxLayout="column" >
        <mat-card class="example-card-style" style="padding: 20px;">
          <div fxLayout="row"  style="height:70px">
            <mat-icon style="font-size:65px; background-color:transparent;overflow:visible;padding-left:90px; color:#3f51b5;">tag_faces</mat-icon>
          </div>
          <mat-card-header>
            <mat-card-subtitle class="card-subtitle"
              >Teeth Whitening</mat-card-subtitle
            >
            <mat-card-title class="card-title">$299 <span style="    font-size: 14px;
              font-weight: 400;
              color: #868686;">/ Per Visit</span> </mat-card-title>
          </mat-card-header>
          
            <div fxFlexLayout="row" fxLayoutGap="70" style="width: auto;">
                <div fxFlex="column" fxFlex="60">
                  <P style="padding-bottom: 6px;color:#2C2D3F;">Lorem Ipsum Dolor</P>
                  <P style="padding-bottom: 8px;color:#2C2D3F;">Cubitur Sollicitudin</P>
                  <P style="padding-bottom: 8px;color:#2C2D3F;">Nullam Interdum </P>
                  <P style="padding-bottom: 8px;color:#2C2D3F;">Donec Ultricies </P>
                  <P style="padding-bottom: 8px;color:#2C2D3F;">Pellentesque Eget</P>
                </div>
                <div fxFlex="column" fxFlex="10">
                 <p><mat-icon color="primary">check_circle</mat-icon></p>
                 <p><mat-icon color="primary">check_circle</mat-icon></p>
                 <p><mat-icon>highlight_off</mat-icon></p>
                 <p><mat-icon>highlight_off</mat-icon></p>
                 <p><mat-icon>highlight_off</mat-icon></p>
                </div>
            </div>
          <div style="padding:10px; padding-left: 30px;" fxFlexLayout="row">
            <button mat-raised-button color="primary" style="color: white;padding:25px; padding-left: 50px;padding-right: 50px;">
             Book Now
            </button>
          </div>
    
        </mat-card>
      </div>


      <div fxLayout="column" >
        <mat-card class="example-card-style" style="padding: 20px;">
          <div fxLayout="row"  style="height:70px">
            <mat-icon style="font-size:65px; background-color:transparent;overflow:visible;padding-left:90px; color:#3f51b5;">local_hospital</mat-icon>
          </div>
          <mat-card-header>
            <mat-card-subtitle class="card-subtitle"
              >Heart Suggery</mat-card-subtitle
            >
            <mat-card-title class="card-title">$399 <span style="    font-size: 14px;
              font-weight: 400;
              color: #868686;">/ Per Visit</span> </mat-card-title>
          </mat-card-header>
          
            <div fxFlexLayout="row" fxLayoutGap="70" style="width: auto;">
                <div fxFlex="column" fxFlex="60">
                  <P style="padding-bottom: 6px;color:#2C2D3F;">Lorem Ipsum Dolor</P>
                  <P style="padding-bottom: 8px;color:#2C2D3F;">Cubitur Sollicitudin</P>
                  <P style="padding-bottom: 8px;color:#2C2D3F;">Nullam Interdum </P>
                  <P style="padding-bottom: 8px;color:#2C2D3F;">Donec Ultricies </P>
                  <P style="padding-bottom: 8px;color:#2C2D3F;">Pellentesque Eget</P>
                </div>
                <div fxFlex="column" fxFlex="10">
                 <p><mat-icon color="primary">check_circle</mat-icon></p>
                 <p><mat-icon color="primary">check_circle</mat-icon></p>
                 <p><mat-icon>highlight_off</mat-icon></p>
                 <p><mat-icon>highlight_off</mat-icon></p>
                 <p><mat-icon>highlight_off</mat-icon></p>
                </div>
            </div>
          <div style="padding:10px; padding-left: 30px;" fxFlexLayout="row">
            <button mat-raised-button color="primary" style="color: white;padding:25px; padding-left: 50px;padding-right: 50px;">
             Book Now
            </button>
          </div>
    
        </mat-card>
      </div>



    </div>
  </div>

<div class="next-next-lower-content">

  <h2  style="text-align: center">We Are Always Ready To Help You. Book An Appointment</h2>
  <div fxLayout="row" fxLayoutAlign="center center">
    <button mat-icon-button style="color:#3f51b5;"><mat-icon style="font-size:26px;">graphic_eq</mat-icon></button>
    <button mat-icon-button style="color:#3f51b5;"><mat-icon style="font-size:26px;">graphic_eq</mat-icon></button>
    <button mat-icon-button style="color:#3f51b5;"><mat-icon style="font-size:26px;">graphic_eq</mat-icon></button>
  </div>
  <p style="text-align: center; margin-bottom: 35px;">Lorem ipsum dolor sit amet consectetur adipiscing elit praesent aliquet. pretiumts</p>

  <div fxLayout="row" fxLayoutAlign="space-around center" class="form-style">
    <div fxLayout="column" fxFlex="50">
      <h2 style="text-align: center;padding-bottom: 15px;"> <i> Contact Us</i></h2>
      <form fxLayout="column" fxLayoutGap="20px">
        <!-- Première ligne -->
        <div fxLayout="row" fxLayoutGap="20px">
          <mat-form-field fxFlex="50" appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput>
          </mat-form-field>
          <mat-form-field fxFlex="50" appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput >
          </mat-form-field>
        </div>
  
        <!-- Deuxième ligne -->
        <div fxLayout="row" fxLayoutGap="20px">
          <mat-form-field fxFlex="50" appearance="outline">
            <mat-label>Phone</mat-label>
            <input matInput placeholder="Phone">
          </mat-form-field>
          <mat-form-field fxFlex="50" appearance="outline">
            <mat-label>Department</mat-label>
            <mat-select>
              <mat-option value="option">Cardiac Clinic</mat-option>
              <mat-option value="option">Neurology</mat-option>
              <mat-option value="option">Dentistry</mat-option>
              <mat-option value="option">Gastroenterology</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
         <!-- Troisieme ligne -->
         <div fxLayout="row" fxLayoutGap="20px">
          <mat-form-field fxFlex="50" appearance="outline">
            <mat-label>Doctor</mat-label>
            <mat-select>
              <mat-option value="option">Dr. Akther Hossain</mat-option>
              <mat-option value="option">Dr. Dery Alex</mat-option>
              <mat-option value="option">Dr. Jovis Karon</mat-option>
              <mat-option value="option">Dr. Beni Fati</mat-option>
            </mat-select>
          </mat-form-field>
          
          <mat-form-field fxFlex="50" appearance="outline">
            <mat-label>Enter a date range</mat-label>
            <mat-date-range-input [rangePicker]="picker">
              <input matStartDate placeholder="Start date">
              <input matEndDate placeholder="End date">
            </mat-date-range-input>
            <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
          </mat-form-field>
        </div>
  
        <!-- Quatrième ligne -->
        <mat-form-field appearance="outline">
          <textarea matInput placeholder="Write Your Message Here..." rows="5"></textarea>
        </mat-form-field>
  
        <!-- Cinquieme ligne -->
        <button mat-raised-button color="primary" type="button">Send</button>
  
       
      </form>
    </div>
    <div fxLayout="column" fxFlex="50">
      <img src="https://img.freepik.com/premium-photo/two-doctors-white-indian-woman-with-stethoscope-african-man_105818-446.jpg?w=740" alt="Doctors standing together">
    </div>
  </div>

</div>


</div>
